---
import type { Blog } from '@/models/types'

interface Props extends Blog {}

const {
  slug,
  title,
  imgUrl = 'test_image.webp',
  imgDescription,
  description,
} = Astro.props
---

<a
  href={`/blog/${slug}`}
  class="w-full max-h-36 p-2 text-slate-500 flex justify-start items-center gap-5 border border-spacing-5 border-slate-200 rounded-md transition-colors ease-linear duration-300 hover:bg-gradient-to-r hover:from-slate-300 hover:via-slate-50 hover:shadow-md">
  <img
    class="object-contain w-16 h-16 md:w-64 md:h-32 rounded-md bg-slate-900"
    src={imgUrl}
    alt={imgDescription}
    loading="lazy"
  />
  <div>
    <h1 class="text-slate-700 md:font-bold text-lg md:text-2xl capitalize">
      {title}
    </h1>
    <p class="line-clamp-3 hidden md:inline-block">
      {description}
    </p>
  </div>
</a>
