---
import ArrowUpRightIcon from '@/components/icons/ArrowUpRightIcon.astro'
import TechTag from '@/components/shared/TechTag.astro'
interface Props {
  id: string
  type: string
  imgUrl: string
  imgDescription: string
  title: string
  description: string
  features: string[]
  classList?: string
}

const {
  id,
  type,
  imgUrl,
  imgDescription,
  title,
  description,
  features,
  classList = '',
} = Astro.props
---

<a
  class:list={[
    'h-[456px] flex flex-col justify-start items-center gap-2 max-h-max overflow-hidden bg-gradient-to-r from-purple-400 via-purple-700 to-purple-800 rounded-lg transition-shadow easy-in-out duration-300 shadow-slate-950/30 shadow-xl hover:shadow-md',
    classList,
  ]}
  href={`/${type}/${id}`}
  transition:name=`${type} ${id} box`>
  <img
    class="w-full h-full object-contain transition-transform duration-300 ease-in-out"
    src={imgUrl}
    alt={imgDescription}
    transition:name=`${type} ${id} img`
    loading="lazy"
  />
  <div
    class="relative h-full flex flex-col items-start justify-between bg-purple-950 p-5 rounded-md text-slate-400">
    <ArrowUpRightIcon classList="absolute -top-8 right-4 z-10 link-icon" />
    <div
      class="absolute w-full h-20 bg-purple-950 skew-y-3 -top-14 left-0 right-0">
    </div>
    <div class="-mt-14 mb-8 z-10">
      <h3 class="text-slate-300 text-lg font-semibold mb-5">
        {title}
      </h3>
      <div
        class="text-sm mb-5 h-20 overflow-hidden flex flex-col items-center justify-between"
        set:html={description}
      />
    </div>
    <TechTag tags={features.slice(0, 3)} />
  </div>
</a>

<style>
  a:hover > img {
    transform: scale(1.1);
  }

  a:hover.link-icon {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
</style>
