---
import TechTag from './TechTag.astro'
interface Props {
  id: string
  type: string
  imgUrl: string
  imgDescription: string
  title: string
  description: string
  features: string[]
  classList?: string
}

const {
  id,
  type,
  imgUrl,
  imgDescription,
  title,
  description,
  features,
  classList = '',
} = Astro.props
---

<a
  class:list={[
    'relative flex flex-col justify-start items-center gap-2 max-h-96 overflow-hidden bg-gradient-to-r from-purple-400 via-purple-700 to-purple-800 p-2 rounded-lg border-purple-100 border-b-2 transition-all hover:ring-4 hover:ring-yellow-500',
    classList,
  ]}
  href={`/${type}/${id}`}
  transition:name=`${type} ${id} box`>
  <img
    class="w-full h-full object-none rounded-md"
    src={imgUrl}
    alt={imgDescription}
    transition:name=`${type} ${id} img`
    loading="lazy"
  />
  <div
    class="h-44 absolute bottom-2 left-2 right-2 flex flex-col items-start justify-between bg-purple-950 p-5 rounded-md text-slate-400">
    <div>
      <h3 class="text-slate-300 text-lg font-semibold">
        {title}
      </h3>
      <p class="text-sm line-clamp-3 mb-5">
        {description}
      </p>
    </div>
    <TechTag tags={features.slice(0, 3)} />
  </div>
</a>
