---
import ArticleTitle from '@/components/shared/ArticleTitle.astro'
import BlogCard from '@/components/shared/BlogCard.tsx'
import { blogs } from '@/lib/blogs'
---

<article
  id="blog-latest"
  class="flex justify-center text-slate-400 py-10 snap-start">
  <div
    class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full px-5 pb-5 rounded-md">
    <ArticleTitle>Featured Posts</ArticleTitle>
    <section class="flex flex-col gap-5">
      {
        blogs.slice(0, 3).map((blog) => (
          <BlogCard
            slug={blog.slug}
            title={blog.title}
            imgUrl={blog.imgUrl}
            imgDescription={blog.imgDescription}
            description={blog.description}
          />
        ))
      }
    </section>
  </div>
</article>
