---
import ArticleTitle from '@/components/shared/ArticleTitle.astro'
import JobCard from '@/components/shared/JobCard.astro'
import { projects } from '@/lib/projects'
---

<article
  id="personal-projects"
  class="flex justify-center py-10 scroll-m-12">
  <div class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full px-4">
    <ArticleTitle>Personal Projects</ArticleTitle>
    <section class="md:columns-2 xl:columns-3">
      {
        projects.slice(0, 6).map((project, i) => (
          <JobCard
            id={project.id}
            type="projects"
            imgUrl={project.imgUrl}
            imgDescription={project.imgDescription}
            title={project.title}
            description={project.description}
            features={project.features}
            classList="mb-4"
          />
        ))
      }
    </section>
  </div>
</article>
