---
import ArticleTitle from '@/components/shared/ArticleTitle.astro'
import JobCard from '@/components/shared/JobCard.astro'
import { projects } from '@/lib/projects'
---

<article
  id="personal-projects"
  class="flex justify-center text-slate-500 py-10 snap-start">
  <div class="max-w-6xl w-full">
    <ArticleTitle>Personal Projects</ArticleTitle>
    <section class="grid grid-cols-3 auto-rows-fr gap-2">
      {
        projects.map((project, i) => (
          <JobCard
            id={project.id}
            type="projects"
            imgUrl={project.imgUrl}
            imgDescription={project.imgDescription}
            title={project.title}
            description={project.description}
            features={project.features}
            classList={`${i === 0 || i === 3 ? 'col-span-2' : ''}`}
          />
        ))
      }
    </section>
  </div>
</article>
