---
import ArticleTitle from './shared/ArticleTitle.astro'

interface Testimony {
  name: string
  position: string
  url: string
  contactImage: string
  phrase: string
}

const testimonies: Testimony[] = [
  {
    name: 'Reynier Pérez',
    position: 'Software Engineer',
    url: 'https://www.linkedin.com/in/reynier-p%C3%A9rez-salas-978b3990/',
    contactImage:
      'https://media.licdn.com/dms/image/v2/D4E03AQHTlGWwXiTpQw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1707712715958?e=1729728000&v=beta&t=Q7IFLdnz7T3OWagGPqTMrGy80yHt6cwLKqkGS6GWUQc',
    phrase:
      "Armando is always available to give aid and effective ideas for the good of the project. He is an excellent teammate you won't regret working with!",
  },
  {
    name: 'Betty Gutiérrez',
    position: 'Team Lead',
    url: 'https://www.linkedin.com/in/betty-guti%C3%A9rrez-8b3477229/',
    contactImage:
      'https://media.licdn.com/dms/image/v2/D4E03AQEq7HBrKqdnbQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1666877567528?e=1729728000&v=beta&t=3n5-Z9xcmMDclli0lleiSkT4h43v_Uqny-2f-LUoiFs',
    phrase:
      "I had the pleasure of working with Armando on a recent project, and I am continually impressed by his exceptional skills and dedication. His expertise in Angular has been instrumental in ensuring the maintainability of the code. Armando's willingness to share knowledge and provide constructive feedback has contributed to a collaborative and supportive team environment. His contributions have made a noticeable impact, and I am confident he will continue excelling in future projects.",
  },
  // {
  //   name: 'Laura Brito',
  //   position: 'Software Engineer',
  //   url: 'https://www.linkedin.com/in/laura-brito-guerrero-271b51245/',
  //   contactImage:
  //     'https://media.licdn.com/dms/image/v2/D4E03AQGBbX1I8JyVWA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1675235097378?e=1729728000&v=beta&t=WCoPbQkHoTfFlTaVSFPOMNHRvHbIu68Rs3JEF1dmB8k',
  //   phrase:
  //     'Elit fugiat cupidatat commodo amet ullamco consectetur aliqua eu non ullamco ad exercitation Lorem.',
  // },
]
---

<article
  id="testimonies"
  class="flex justify-center pt-10 scroll-m-1">
  <div class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full px-4">
    <ArticleTitle>testimonies</ArticleTitle>
    <div
      class="flex flex-col items-center w-full gap-4 p-8 pb-0 md:mb-0 flex-between">
      {
        testimonies.map((testimony) => (
          <div class="bg-gradient-to-bl from-purple-800 to-purple-950 w-full mx-auto p-8 rounded-xl border border-purple-700 transition-colors hover:border-purple-400 duration-300 group">
            <div class="flex flex-col items-center justify-center md:items-start md:flex-row gap-4">
              <a
                href={testimony.url}
                class="relative block overflow-hidden w-40 h-40 rounded-full shine group-hover:after:left-[110%] shadow-purple-950 shadow-xl">
                <img
                  alt="profil"
                  src={testimony.contactImage}
                  class="mx-auto object-cover rounded-full h-40 w-40 overflow-hidden lg:saturate-0 group-hover:saturate-100 transition-[filter] duration-300"
                  loading="lazy"
                />
              </a>
              <div class="w-full md:w-2/3">
                <p class="text-purple-200 w-full md:w-2/3 m-auto text-left text-base md:text-xl">
                  <span class="font-bold text-yellow-200">“</span>
                  {testimony.phrase}
                  <span class="font-bold text-yellow-200">”</span>
                </p>
                <div class="flex flex-col md:flex-row items-start md:items-center justify-center mt-8">
                  <span class="mr-2 text-lg font-semibold text-yellow-500 text-hover-underline group-hover:after:w-full">
                    {testimony.name}
                  </span>
                  <span class="hidden md:inline text-xl font-light text-purple-400">
                    /
                  </span>
                  <span class="md:ml-2 text-purple-400 text-md">
                    {testimony.position}
                  </span>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</article>

<style>
  /* Subrayado animado */
  .text-hover-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffc107;
    transition: width 0.3s;
  }

  .shine::after {
    --width: 60px;
    content: '';
    display: block;
    width: var(--width);
    height: 200px;
    transition: left 0.3s ease-in-out;
    @apply bg-purple-100 opacity-50 blur-lg skew-x-12 z-10 absolute top-0 -left-[var(--width)];
  }
</style>
