---
import ArticleTitle from '@/components/shared/ArticleTitle.astro'
import JobCard from '@/components/shared/JobCard.astro'
import { jobs } from '@/lib/jobs'
---

<article
  id="work-experience"
  class="flex justify-center text-slate-700 pt-10 snap-start">
  <div class="max-w-6xl w-full">
    <ArticleTitle>Work Experience</ArticleTitle>
    <div class="grid grid-cols-3 gap-5">
      {
        jobs.map((job) => (
          <JobCard
            id={job.id}
            imgUrl={job.imgUrl}
            imgDescription={job.imgDescription}
            title={job.title}
            description={job.description}
            features={job.features}
          />
        ))
      }
    </div>
  </div>
</article>
