---
import LinkIcon from '@/components/icons/LinkIcon.astro'
import SocialButton from '@/components/shared/SocialButton.astro'
import TechTag from '@/components/shared/TechTag.astro'
import Layout from '@/layouts/Layout.astro'
import { projects } from '@/lib/projects'
import { formatDate, toISO } from '@/utilities/formats'

const { id } = Astro.params
const project = projects.find((_project) => _project.id === id)
---

<Layout title="Armando Dev. | Projects">
  <main class="flex flex-col">
    <article
      id="about-me"
      class="min-h-screen flex justify-center items-start text-purple-300 snap-start"
      transition:name=`work-experience ${id} box`>
      <div
        class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full p-6 flex justify-center items-center">
        <div
          class="max-w-[680px] w-full p-5 bg-purple-950 rounded-md flex justify-center items-center">
          <div
            class="max-w-prose w-full flex flex-col justify-center items-start gap-5">
            <h1
              class="text-2xl text-purple-200"
              transition:name=`work-experience ${id} title`>
              {project?.title}
            </h1>
            <img
              class="w-full max-w-prose h-full rounded-md bg-gradient-to-br from-purple-700/20 to-purple-700/40"
              src={`/${project?.imgUrl}`}
              alt={project?.imgDescription}
              transition:name=`work-experience ${id} img`
              loading="lazy"
            />
            <i class="text-sm">
              From
              <time datetime={toISO(project?.startAt)}>
                {formatDate(project?.startAt)}
              </time>
              to
              <time datetime={toISO(project?.finishAt)}>
                {formatDate(project?.finishAt)}
              </time>
              .
            </i>
            <TechTag tags={project?.features} />
            <div class="flex flex-col justify-center items-start text-base">
              {
                project?.links.map((link) => (
                  <SocialButton
                    url={link.url}
                    description={link.description}
                    style="large">
                    <LinkIcon
                      slot="start"
                      classList="w-4 h-4 mr-2"
                    />
                    {link.description}
                  </SocialButton>
                ))
              }
            </div>
            <p
              class="text-lg"
              set:html={project?.description}
            />
          </div>
        </div>
      </div>
    </article>
  </main>
</Layout>
