---
import LinkIcon from '@/components/icons/LinkIcon.astro'
import SocialButton from '@/components/shared/SocialButton.astro'
import TechTag from '@/components/shared/TechTag.astro'
import Layout from '@/layouts/Layout.astro'
import { projects } from '@/lib/projects'
import { formatDate } from '@/utilities/formats'

const { id } = Astro.params
const project = projects.find((_project) => _project.id === id)
---

<Layout title="Armando Dev. | Projects">
  <main class="flex flex-col">
    <article
      id="about-me"
      class="min-h-screen flex justify-center items-center text-slate-400 snap-start"
      transition:name=`work-experience ${id} box`>
      <div
        class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full p-6 flex justify-center items-center">
        <div
          class="max-w-prose w-full flex flex-col justify-center items-start gap-5">
          <h1
            class="text-2xl md:text-6xl text-slate-100 uppercase"
            transition:name=`work-experience ${id} title`>
            {project?.title}
          </h1>
          <img
            class="w-full max-w-prose h-full rounded-md bg-gradient-to-br from-purple-700/20 to-purple-700/40"
            src={`/${project?.imgUrl}`}
            alt={project?.imgDescription}
            transition:name=`work-experience ${id} img`
          />
          <i class="text-sm"
            >From {formatDate(project?.startAt)} to {
              formatDate(project?.finishAt)
            }.</i
          >
          <TechTag tags={project?.features} />
          <div class="flex justify-start items-center gap-2">
            {
              project?.links.map((link) => (
                <SocialButton
                  url={link.url}
                  description={link.description}
                  style="large">
                  <LinkIcon slot="start" />
                  {link.description}
                </SocialButton>
              ))
            }
          </div>
          <p>{project?.description}</p>
        </div>
      </div>
    </article>
  </main>
</Layout>
